* {
    margin: 0;
    padding: 0;
}

.container-flex {

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;

}

#q1 {

    width: 90px;
    height: 90px;
    background-color: red;
    border-radius: 5000px;
    box-shadow: 0 0 10px #00000081, 0 0 20px #00000062, 0 0 30px #0000006e;
    filter: brightness(200%);
}

#q2 {

    width: 90px;
    height: 90px;
    background-color: yellow;
    border-radius: 5000px;
    box-shadow: 0 0 10px #00000081, 0 0 20px #00000062, 0 0 30px #0000006e;
    filter: brightness(200%);
}

#q3 {

    width: 90px;
    height: 90px;
    background-color: rgb(3, 218, 3);
    border-radius: 5000px;
    box-shadow: 0 0 10px #00000081, 0 0 20px #00000062, 0 0 30px #0000006e;
    filter: brightness(200%);

}