* {
    margin: 0;
    padding: 0;
}

.container-flex {

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.flex-item {

    width: 150px;
    height: 150px;
    background-color: rgb(146, 229, 255);

}